*
{
	margin: 0;
}
body
{
	overflow-x: hidden; /*Quitar el Overflow*/
}
#carrusel
{
	width: 100vw;
	height: 100px;
}
#items
{
	display: flex;
}
.item
{
	gap: 20px;
}
.item>img
{
	width: 60vh;
	height: 100vh;
	object-fit: cover;
}