body{

    margin: 0px;
    padding: 0px;
    background-color: #331a38;

}
header{
    height: 10vh;
    max-width: 100%;
    background-color: #331a38;
    color: white;
    border: black 1px solid;
}


.carrito{
    height: 89.5vh;
    display: flex;
    flex-direction: row;
    color: white;
    border: white 1px solid;

}
.contenido{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-left: 2%;
    border: white 1px solid;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-left: 0;
}
.precio{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 19%;
}
hr{
    width: 50%;
    color: white;
}
